extends layout

block content
    h1= title
    #button
      .button_content
        .inside
          .name Person name
          .time 21:30
      .button_content_hover
        .inside
          .photo(style="background:url('http://sphotos-e.ak.fbcdn.net/hphotos-ak-prn1/40458_144434228922620_1237840_n.jpg') center center no-repeat;")
block js
    script(src='/javascripts/index.js')
