extends layout

block content
    h1= title
    #badge
      .profile
        .photo
        h2.name Muhhammed Kats
      .status
        .icon#clickOk I'm ok
        .time just now


block js
    script(src='/javascripts/index.js')
