extends layout

block content
    h1= title
    #login
      h2 Hi!
      p Some description
      a.button(href="#") Sign in via Facebook
    #badge
      .profile
        .photo
        h2.name Muhhammed Kats
      .status
        .icon#clickOk I'm ok
        .time just now


block js
    script(src='/javascripts/index.js')
