doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
      #wrapper
        header
          block header
        section
          block content
        footer
          block footer