@mixin inline_block {
	display:inline-block;
	*display:inline;
	zoom:1;
}
@mixin prefixer ($property, $value,
                 $webkit: true,
                    $moz: true,
                     $ms: true,
                      $o: true,
                   $spec: true) {
  @if $webkit { -webkit-#{$property}: $value; }
  @if $moz    {    -moz-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}
@mixin border_radius ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
@mixin g_w($num) {
	width:$grid_w * $num + $grid_m * ($num);
}
@mixin g_h($num) {
	height:$grid_w * $num + $grid_m * ($num);
}
@mixin g_m_top($num) {
	margin-top: - ($grid_w * $num + $grid_m * ($num)) / 2;
}
@mixin g_m_left($num) {
	margin-left: - ($grid_w * $num + $grid_m * ($num)) / 2;
}
@mixin round ($d) {
	width:$d;
	height:$d;
	@include border_radius(($d/2));
	overflow:hidden;
}