body {
  font: 14px "ff-enzo-web", "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fec451;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px; }

#user {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #eb5252;
  padding: 0.5em; }

#tutorial {
  display: none;
  background: #dcecf5;
  padding: 1em;
  width: 40em;
  margin: 2em auto;
  border: 1px solid transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -ms-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out; }
  #tutorial span {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0; }

a {
  color: #00B7FF; }

h1 {
  text-align: center; }

#button {
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  overflow: hidden;
  line-height: 300px;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
  border: 20px solid #dcecf5;
  background: #eb5252;
  color: #fff;
  position: relative;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  margin-top: -160px;
  left: 50%;
  margin-left: -160px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  box-shadow: 0 20px 30px rgba(120, 40, 40, 0.7), inset 0 10px 10px rgba(120, 40, 40, 0.7);
  overflow: hidden;
  cursor: pointer; }
  #button .button_content {
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
    border: 1px solid transparent;
    overflow: hidden;
    float: none;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    vertical-align: top;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #button .button_content .inside {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      line-height: 180%;
      width: 100%; }
  #button .button_content_hover {
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
    border: 1px solid transparent;
    overflow: hidden;
    float: none;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    vertical-align: top;
    z-index: 800;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #button .button_content_hover .inside {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      line-height: 180%;
      width: 100%; }
    #button .button_content_hover .inside {
      width: 100%;
      height: 100%;
      display: block; }
  #button:hover .button_content_hover {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg); }
  #button:hover .button_content {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); }
  #button .photo {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #button .name {
    font-size: 24px; }
  #button .time {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }

#badge {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  margin-left: -320px;
  margin-top: -120px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  #badge h2 {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 60px; }
  #badge .profile {
    background: #00aeef;
    width: 240px;
    height: 240px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    color: #fff; }
  #badge .photo {
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    background: #fafafa;
    width: 160px;
    height: 160px;
    border: 1px solid white;
    overflow: hidden; }
  #badge .status {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    height: 240px;
    text-align: center;
    background: #eceff1; }
  #badge .status .icon {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 160px;
    height: 160px;
    background: url("../images/temp_ok_icon.png") center center no-repeat;
    background-size: 100%;
    text-align: left;
    text-indent: -600px;
    font-weight: bold;
    color: #000;
    overflow: hidden; }
  #badge .status .time {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #71aa00;
    overflow: hidden; }
