$grid_h:20px;
$grid_w:60px;
$grid_m:20px;
$badge_c:8;
@import "mixins.scss";
@mixin coin {
	@include border_radius(190px);
	.inside {
		@include inline_block;
		vertical-align:middle;
		line-height:180%;
		width:100%;
	}
	border:1px solid transparent;
	overflow:hidden;
	float: none;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 900;
	width: inherit;
	height: inherit;
	text-align: center;
	vertical-align:top;
}
body {
    
    font: 14px "ff-enzo-web","Lucida Grande", Helvetica, Arial, sans-serif;
    background:#fec451;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
#user {
	position:absolute;
	top:1em;
	right:1em;
	background:#eb5252;
	padding:0.5em;
}
#tutorial {
	display:none;
	background:#dcecf5;
	padding:1em;
	width:40em;
	margin:2em auto;
	border:1px solid transparent;
	@include border_radius(10px);
	overflow:hidden;
	@include prefixer(transition, height .4s ease-in-out);	
	span {
		@include prefixer(transition, all .4s ease-in-out);	
		opacity:0;
	}
}
a {
    color: #00B7FF;
}
h1 {
	text-align:center;
}
#button {
	@include round(300px);
	line-height:300px;
	@include border_radius(190px);
	border:20px solid #dcecf5;
	background:#eb5252;
	color:#fff;
	position:relative;
	margin:0 auto;
	position:absolute;
	top:50%;
	margin-top:-160px;
	left:50%;
	margin-left:-160px;
	@include prefixer(perspective,500px);
	box-shadow:0 20px 30px rgba(120,40,40,0.7),inset 0 10px 10px rgba(120,40,40,0.7);
	overflow:hidden;
	cursor:pointer;
	.button_content {
		@include coin;
		@include prefixer(transform, rotateY(0deg));
		@include prefixer(transform-style, preserve-3d);
		@include prefixer(backface-visibility, hidden);
		@include prefixer(transition, all .4s ease-in-out);

	}
	.button_content_hover {
		@include coin;
		z-index: 800;
		@include prefixer(transform, rotateY(-180deg));
		@include prefixer(transform-style, preserve-3d);
		@include prefixer(backface-visibility, hidden);
		@include prefixer(transition, all .4s ease-in-out);
		.inside {
			width:100%;
			height:100%;
			display:block;
		}
	}
	&:hover{
		.button_content_hover {
			z-index: 1000;
			-webkit-transform: rotateX(0deg) rotateY(0deg);
			-moz-transform: rotateX(0deg) rotateY(0deg);
		}
		.button_content {
			z-index: 900;
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
		}
	}

	.photo {
		width:100%;
		height:100%;
		@include prefixer(background-size,cover);
	}
	.name {
		font-size:24px;
		// border-bottom:2px solid #000;
		// padding-bottom:20px;
	}
	.time {
		font-size:18px;
		position:absolute;
		bottom:0;
		width:100%;
		padding:5px;
		background:rgba(0,0,0,0.5);
		color:#fff;
	}
}
#badge {
	position:absolute;
	top:50%;
	left:50%;
	@include g_w($badge_c);	
	@include g_m_left($badge_c);
	@include g_m_top(3);
	background:#fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	h2 {
		text-align: center;
		font-weight: 200;
		font-size:16px;
		margin:0;
		padding:0;
		line-height: 3 * $grid_h;
	}
	.profile {
		background: #00aeef;
		@include g_w(3);
		@include g_h(3);
		@include inline_block;
		vertical-align: top;
		text-align: center;
		color:#fff;
	}
	.photo {
		margin-top:$grid_h;
		display: inline-block;
		vertical-align: top;
		background: #fafafa;
		@include g_w(2);
		@include g_h(2);
		border:1px solid #fff;
		overflow: hidden;
	}
	.status {
		vertical-align: top;
		display: inline-block;
		@include g_w($badge_c - 3);
		@include g_h(3);
		text-align: center;
		background:#eceff1;
	}
	.status .icon {
		display: inline-block;
		margin-top:$grid_h / 2;
		margin-bottom:$grid_h / 2;
		cursor: pointer;
		@include g_w(2);
		@include g_h(2);
		background:url('../images/temp_ok_icon.png') center center no-repeat;
		background-size:100%;
		text-align:left;
		text-indent: -600px;
		font-weight: bold;
		color:#000;
		overflow: hidden;
		
	}
	.status .time {
		display: inline-block;
		width:100%;
		cursor: pointer;
		height:60px;
		line-height: 60px;
		text-align:center;
		font-weight: bold;
		color:#fff;
		background: #71aa00;
		//background:#666;
		overflow: hidden;
		
	}
}
